ion-content {
    --ion-background-color:#272c33;
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-start: 30px;
    --padding-end: 30px;
}

ion-item {
    --padding-start: 0px;
    --margin-top: 
}

img {
    height: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ion-label {
    color: white!important;
}

ion-button {
    margin-top: 30px;
}