<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Cervejas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="beer-register">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="getBeers($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="beers">
    <ion-item *ngFor="let beer of beers">
      <ion-avatar slot="start">
        <img [src]="beer.image">
      </ion-avatar>
      <ion-label color="tertiary">{{beer.description}}</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <!-- <ion-item *ngFor="let beer of beers" lines="full">
      <ion-thumbnail slot="start">
        <img [src]="beer.image">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-text color="tertiary">
          <h3>{{beer.description}}</h3>
        </ion-text>
      </ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item> -->
  </ion-list>
  <div *ngIf="!beers">
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>