<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="brand-register">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="getBrands($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="brands">
    <ion-item *ngFor="let brand of brands" lines="full" (click)="selectBrand(brand)">
      <ion-thumbnail slot="start">
        <img [src]="brand.image">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>{{brand.description}}</h3>
        </ion-text>
        <p>{{brand.brand}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <div *ngIf="!brands">
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
</ion-content>